<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Argentinaton | Atomic Lab</title>
    <meta name="description" content="Description" />
    <meta name="keywords" content="keywords" />

    <meta property="og:url" content="http://www.argentinaton.com.ar/">
    <meta property="og:title" content="Title">
    <meta property="og:description" content="Description.">
    <meta property="og:image" content="{% static 'img/favicons/android-chrome-192x192.png' %}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website">

    <!--Favicons-->
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="stylesheet" href="{% static 'css/ie.css' %}">
    <meta name="msapplication-TileColor" content="#292425">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff"> -->

	<!-- Style -->
	<link rel="stylesheet" href="../public/css/styles.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:300,400,500,700" rel="stylesheet">

	<!-- Scroll -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$( document ).ready(function() {
			$('a[href*="#"]')
				// Remove links that don't actually link to anything
				.click(function(event) {
				// On-page links
				if (
				  location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
				  && 
				  location.hostname == this.hostname
				) {
				  // Figure out element to scroll to
				  var target = $(this.hash);
				  target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				  // Does a scroll target exist?
				  if (target.length) {
				    // Only prevent default if animation is actually gonna happen
				    event.preventDefault();
				    $('html, body').animate({
				      scrollTop: target.offset().top
				    }, 1000, function() {
				      // Callback after animation
				      // Must change focus!
				      var $target = $(target);
				      $target.focus();
				      if ($target.is(":focus")) { // Checking if the target was focused
				        return false;
				      } else {
				        $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
				        $target.focus(); // Set focus again
				      };
				    });
				  }
				}
			});
		});
	</script>
</head>

<body>
	<main class="row">
	    <div class="col-md-12 max-width-wrapper">
	        <section class="cover" id="cover">
	        	<div class="main-copy">
		            <div class="logo">
		            	<img src="../public/img/argentinaton-logo.png" alt="">
		            </div>
		            <div class="tagline">
		            	Queremos recorrer toda la Argentina cumpliendo sueños, regalando manos y brazos mecánicos 3D.
		            </div>
	        	</div>
	        </section>
	        <section class="mission" id="mission">
	        	<a href="#mission" class="arrow">
	        		<img src="../public/img/arrow-down.svg" alt=">">
	        	</a>
	            <article class="row">
	            	<div class="col-md-7">
	            		<h2>
	            			¿Qué<br/>queremos<br/>hacer?
	            		</h2>
	            		<p>
	            			Conociendo la gran demanda y las dificultades de conexión que hay en todo 
	            			el país, queremos recorrerlo de punta a punta regalando manos y brazos mecánicos 3D, llevando una impresora a bordo alimentada por paneles solares. La idea es partir de Buenos Aires con un itinerario armando, basándonos en todos los pedidos que tenemos a lo largo y a lo ancho del país.
							<br/>
							<br/>
	            			No queremos actuar como una empresa de correo, tampoco pasar por la casa entregar la mano 3D e irnos, sino que la idea es compartir un almuerzo o una cena con la familia, conocer sus historias y costumbres, escucharlos, compartir experiencias. Queremos documentar todo ese proceso (fotos, videos, audios y textos) y difundirlo de diversas formas: Redes Sociales, Videos en vivo, Podcast (a definir), Video blog, Libro digital y en papel (a definir) y Documental (a definir). Todo el contenido generado tendrá placas, menciones y otros tipos 
	            			de referencias a las empresas interesadas.
	            		</p>
	            	</div>
	            	<div class="col-md-5">
						<img class="map" src="../public/img/map.png" alt="mapa">
	            	</div>
	            </article>
	        </section>
	        <section class="why m-t-11 m-b-11">
	            <article class="row">
	            	<div class="col-md-6 pic-wrapper">
						<img class="mano" src="../public/img/mano.jpg" alt="mano">
	            	</div>
	            	<div class="col-md-6">
	            		<div class="centered">
		            		<h2>
		            			¿Por qué?
		            		</h2>
		            		<p>
		            			Hay una necesidad que cubrir y las soluciones actuales (provistas por privados, obras sociales, Estado, entre otros) 
		            			no son fáciles de adquirir para todos, las prótesis tienen un costo aproximado desde 7500 US$ a mas de 15000 US$, mientras que con impresión 3D se pueden hacer por un aproximado de 20 US$. 
								<br/>
								<br/>
		            			En Atomic Lab entregamos manos y brazos impresos en 3D de manera 100% gratuita a cualquier persona que lo pida. Tenemos aproximadamente 1000 pedidos de manos y brazos mecánicos 3D en Argentina y miles más en el resto del mundo. Conocemos que ese número es solo un pequeño porcentaje de todos los casos que existen en el país
		            		</p>
	            		</div>
	            	</div>
	            </article>
	        </section>
            <section class="what">
        		<h3>
        			¿Qué te gustaría hacer?
        		</h3>
        		<article class="full-width-mob">
	                <div class="row">
	                	<div class="col-xs-3 col-md-3 col-sm-6 margin-bottom-mob">
	                		<div class="item-box">
		                		<div class="icon">
		                			<img src="../public/img/pencil.svg" alt="mano">
		                		</div>
		                		<div class="text">
		                			Quiero que me 
		                			entreguen una mano 3D
		                		</div>
		                		<div class="btn btn-lg">
		                			Ingresar
		                		</div>
	                		</div>
	                	</div>
	                	<div class="col-xs-3 col-md-3 col-sm-6 margin-bottom-mob">
	                		<div class="item-box">
		                		<div class="icon">
		                			<img src="../public/img/people.svg" alt="people">
		                		</div>
		                		<div class="text">
		                			Quiero que me 
		                			entreguen una mano 3D
		                		</div>
		                		<div class="btn btn-lg">
		                			Ingresar
		                		</div>
	                		</div>
	                	</div>
	                	<div class="col-xs-3 col-md-3 col-sm-6">
	                		<div class="item-box">
		                		<div class="icon">
		                			<img src="../public/img/discussion.svg" alt="discussion">
		                		</div>
		                		<div class="text">
		                			Quiero que me 
		                			entreguen una mano 3D
		                		</div>
		                		<div class="btn btn-lg">
		                			Ingresar
		                		</div>
	                		</div>
	                	</div>
	                	<div class="col-xs-3 col-md-3 col-sm-6">
	                		<div class="item-box">
		                		<div class="icon">
		                			<img src="../public/img/id-card.svg" alt="card">
		                		</div>
		                		<div class="text">
		                			Quiero que me 
		                			entreguen una mano 3D
		                		</div>
		                		<div class="btn btn-lg">
		                			Ingresar
		                		</div>
	                		</div>
	                	</div>
	                </div>
        		</article>
            </section>
            <section class="sponsors m-t-11 m-b-11">
        		<h3>
        			Empresas que nos acompañan
        		</h3>
                <article class="row">
                	<div class="col-md-1">
	            	</div>
	            	<div class="col-md-2">
	            		<img src="../public/img/placeholder.jpg" alt="company">
	            	</div>
	            	<div class="col-md-2">
	            		<img src="../public/img/placeholder.jpg" alt="company">
	            	</div>
	            	<div class="col-md-2">
	            		<img src="../public/img/placeholder.jpg" alt="company">
	            	</div>
	            	<div class="col-md-2">
	            		<img src="../public/img/placeholder.jpg" alt="company">
	            	</div>
	            	<div class="col-md-2">
	            		<img src="../public/img/placeholder.jpg" alt="company">
	            	</div>
	            	<div class="col-md-1">
	            	</div>
                </article>
                <article class="row hide-on-mobile">
                	<div class="col-md-1">
	            	</div>
	            	<div class="col-md-2">
	            		<img src="../public/img/placeholder.jpg" alt="company">
	            	</div>
	            	<div class="col-md-2">
	            		<img src="../public/img/placeholder.jpg" alt="company">
	            	</div>
	            	<div class="col-md-2">
	            		<img src="../public/img/placeholder.jpg" alt="company">
	            	</div>
	            	<div class="col-md-2">
	            		<img src="../public/img/placeholder.jpg" alt="company">
	            	</div>
	            	<div class="col-md-2">
	            		<img src="../public/img/placeholder.jpg" alt="company">
	            	</div>
	            	<div class="col-md-1">
	            	</div>
                </article>
            </section>
            <footer>
            	<a href="#cover" class="arrow">
            		<img src="../public/img/arrow-up.svg" alt=">">
            	</a>
				<div class="info-block">
					<div class="intro">
	            		Seguinos en nuestras redes sociales
					</div>
	            	<ul>
	            		<li>
	            			<img src="../public/img/instagram.png" alt="instagram">
	            		</li>
	            		<li>
	            			<img src="../public/img/facebook.png" alt="facebook">
	            		</li>
	            		<li>
	            			<img src="../public/img/twitter.png" alt="twitter">
	            		</li>
	            	</ul>
	            	<div class="contact-mail">
	            		info@atomiclab.org
	            	</div>
				</div>
            	<div class="copyright">
            		Copyrights © 2018 | AtomicLab
            	</div>
            </footer>
	    </div>
	</main>
</body>
</html>

