// Blue
$blue-france: #4772b2;
$blue-oil: #3C67A6;

// Black
$black-night: #000000;

// Grey
$grey-mainstream: #606165;
$grey-med: #b8b8b8;
$grey-light: #A6A6A6;
$grey-bone: #F9F9F9;

// Orange
$orange-county: #F66A00;

// Aqua
$aqua-emerald: #50e3c2;
$aqua-emerald-hover: #13cca2;

// Grey
$grey-light: #d8d8d8;
